<center>
  <b>Add new puppy to inventory</u><br />
  <form action='/puppies' method='POST'>
    <input type='text' name='breed' placeholder='Breed'><br />
    <input type='text' name='name' placeholder='Name'><br />
    <input type='text' name='age' placeholder = 'Age'><br />
    <input type='submit' value='Submit'>
  </form><br /><br />

  <b>Add new puppy request</u><br />
  <form action='/requests' method='POST'>
    <input type='text' name='breed' placeholder='Breed'><br />
    <input type='text' name='customer' placeholder='Customer'><br />
    <input type='submit' value='Submit'>
  </form><br/><br />
</center>
